.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: url(./img/mkwhwwy.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-position: inherit;
}